@import "reset";
@import "vars";
@import "typography";
@import "buttons";
@import "header";
@import "banner";
@import "main";
@import "footer";
@import url('http://fonts.cdnfonts.com/css/myriad-pro');

body {
    background-color: $bg-color-01;
    font-family: $ff-body;
}

header,
main,
footer {
    box-sizing: border-box;
    width: 100%;

    @media (max-width: 991px) {
        padding: 0 1rem;
    }
}

.container {
    margin: 0 auto;
    max-width: 991px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}