body {
    background-color: $bg-dark-0;
}

header,
footer {
    width: 100%;
    background-color: $bg-dark-0;
}

header {
    .container {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 8%;
        margin: $space-100 0;
    }

    .button {
        margin: 0 $space-200 0 auto;
    }

    .primary-nav {
        display: flex;
        flex-wrap: wrap;
        gap: $space-200;
    }

    .primary-nav__link {
        text-decoration: none;
        color: $text-light-fade;
        text-underline-offset: .5em;

        &--active {
            color: $text-light-def;
            text-decoration: underline;
        }

        &:hover {
            color: $text-light-def;
        }
    }
}

footer {
    p {
        text-align: $t-align-c;
        color: $text-light-fade;
        padding: $space-100;
    }
}

.featured {
    background-color: $bg-dark-2;

    h1 {
        margin-left: $space-100;
        color: $text-light-def;
    }

    h2 {
        margin-left: $space-200;
        color: $text-light-def;
    }

    p {
        font-size: $font-normal;
        color: $text-light-def;
        max-width: 80ch;
        padding: $space-200 $space-100;
    }
}

.mosaico {
    display: flex;
    flex-direction: row;
    gap: $space-100;

    @media (max-width: 550px) {
        flex-direction: column;
        height: auto;
    }

    &__coluna {
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: $space-100;

        @media (max-width: 550px) {
            flex-direction: row;
            width: 100%;
            height: auto;
        }
    }
    
    &__big {
        background-image: url("../images/pexels-mike-244206.jpg");
        display: block;
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;

        @media (max-width: 550px) {
            height: 30vh;
        }
    }
    
    &__small {
        background-image: url("../images/pexels-mike-244206.jpg");
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;

        &--1 {
            background-position: bottom 10% center;
        }
        
        &--2 {
            background-position: bottom 30% right 40%;
        }
        
        &--3 {
            background-position: bottom 55% right 70%;
        }
    }
    
}


.blocks {
    background-color: $bg-dark-1;
    padding: $space-200 $space-100;

    h2 {
        color: $text-light-def;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 250px;
        width: 100%;
    }

    li {
        color: $text-light-def;
        display: block;
        margin: $space-100 auto;
        width: 32%;
        
        .img-container {
            display: block;
            overflow: hidden;
            width: 100%;
            aspect-ratio: 2 / 1;
        }
    }
}

@media (max-width: 500px) {
    .blocks {
        ul {
            flex-direction: column;
            height: auto;

            li{
                width: 100%;
                flex-flow: column;
            }
        }
    }
    
}