.carrossel {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    scrollbar-color: $color-brand $bg-color-dark;
    padding-bottom: 1rem;

    @media (max-width: 1200px) {
        padding-inline: 1rem;
    }
    
    .capa {
        opacity: 0.5;
        position: relative;

        &:hover {
            opacity: 1;
        }

        h3 {
            display: none;
            padding: 1rem 2rem;
            background-color: $bg-color-dark;
            color: $font-color-light;
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
        }

        &:hover h3 {
            display: block;
        }

        img {
            height: 250px;

            @media (max-width: 500px) {
                height: 200px;
            }
        }

    }
    
    div+div {
        margin-left: 1rem;
    }
}