#cenas {
    .mosaico {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
        
        img {
            height: 200px;
            width: auto;
            object-fit: fill;
            object-position: bottom;
            margin-bottom: 1rem;
            filter: grayscale(1) brightness(1.2) contrast(0.7);

            &:hover {
                filter: grayscale(0) brightness(1) contrast(1.2);
                outline: 2px solid $color-brand;
            }
        }

    }

}