// Cores
$color-brand: #06735F;
$color-accent: #d3b119;
$color-light: #FEFEFE;
$color-dark: #261E1C;

$font-color-light: #FEFEFE;
$font-color-dark: #261E1C;

$bg-color-light: #F2F2F2;
$bg-color-dark: #000;

$ff-heading: DMSans, Helvetica, Arial, "Lucida Grande", sans-serif;
$ff-body: Arial, Helvetica, sans-serif;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;1,500&display=swap');

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Tipografia

body {
    font-family: $ff-body;
    color: $font-color-dark;
    background-color: $bg-color-light;
    font-size: 1rem;
    font-weight: 300;
}

h1, h2, h3 {
    font-family: $ff-heading;
    color: $font-color-dark;
    font-weight: 500;
    font-variant: small-caps;
    line-height: 1;
    margin: .5em 0;
}

h1 {font-size: 1.3rem;}
h2 {font-size: 1.5rem; font-weight: bold;}
h3 {font-size: 1.25rem;}

// Layout básico

header {
    width: 100vw;
    position: relative;
    height: 50vh;
    overflow: hidden;

    h1 {
        text-align: center;
        margin-top: 4rem;
        position: relative;
        z-index: 9;
    }
}

footer {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    background-color: $color-dark;
    color: $font-color-light;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.waves {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 110%;

    .wave-01 {
        animation: wave1 3s ease-in-out infinite alternate;
        
    }

    .wave-02 {
        animation: wave2 3s ease-in-out infinite alternate;
    }

    .wave-03 {
        animation: dash1 3s cubic-bezier(0, 1.23, 1, 0.11) infinite alternate;
        stroke-dasharray: 150;
        stroke: #fff;
        stroke-width: 3px;
    }
}

@keyframes wave1 {
    from {
        transform: translateX(-50px);
    }
}

@keyframes wave2 {
    from {
        transform: translateX(-100px);
    }
}

@keyframes wave3 {
    from {
        transform: translateX(-20px);
    }
}

@keyframes dash1 {
    from {
       stroke-dashoffset: 2000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@import 'player';
@import 'cenas';
@import 'carrosel';