// Cores
$color-brand: #06735F;
$color-accent: #40c4b9;
$color-light: #FEFEFE;
$color-dark: #261E1C;

$font-color-light: #FEFEFE;
$font-color-dark: #261E1C;

$bg-color-light: #F2F2F2;
$bg-color-dark: #000;

$ff-heading: DMSans, Helvetica, Arial, "Lucida Grande", sans-serif;
$ff-body: Arial, Helvetica, sans-serif;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;1,500&display=swap');

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Tipografia

body {
    font-family: $ff-body;
    color: $font-color-dark;
    background-color: $bg-color-light;
    font-size: 1rem;
    font-weight: 300;
}

h1, h2, h3 {
    font-family: $ff-heading;
    color: $font-color-dark;
    font-weight: 500;
    font-variant: small-caps;
    line-height: 1;
    margin: .5em 0;
}

h1 {font-size: 1.3rem;}
h2 {font-size: 1.5rem; font-weight: bold;}
h3 {font-size: 1.25rem;}

// Layout básico

header {
    width: 100vw;
    overflow: hidden;
    background-color: $bg-color-dark;
    display: flex;

    h1 {
        font-size: 3rem;
        color: $color-accent;
    }
}

footer {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    background-color: $color-dark;
    color: $font-color-light;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

// Animações

#rolo {
    width: 170px;
    padding: 0;
    margin: 0;

    .girador {
        transform-origin: center;
        animation: gira 5s infinite;
    }
}

@keyframes gira {
    from {
        rotate: 0deg;
    }
    to {
        rotate: -360deg;
    }
}

// Palícula infinita

.pelicula {
    width: 100%;

    #filme {
        width: 120%;
        animation: rodando 10s infinite linear;
    }

    .parte {
        fill: $color-brand;
        rotate: -90deg;
        scale: 0.3;
        translate: -5px 150px;   
    }

    .parte1 {translate: -5px 150px;}
    .parte2 {translate: 125px 150px;}
    .parte3 {translate: 255px 150px;}
    .parte4 {translate: 385px 150px;}
    .parte5 {translate: 515px 150px;}
    .parte6 {translate: 645px 150px;}
    .parte7 {translate: 775px 150px;}
    .parte8 {translate: 905px 150px;}
    .parte9 {translate: 1035px 150px;}
    .parte10 {translate: 1165px 150px;}
    .parte11 {translate: 1295px 150px;}
    .parte12 {translate: 1425px 150px;}
    .parte13 {translate: 1555px 150px;}
    .parte14 {translate: 1685px 150px;}
    .parte15 {translate: 1815px 150px;}
    .parte16 {translate: 1945px 150px;}
    .parte17 {translate: 1815px 150px;}
    .parte18 {translate: 2075px 150px;}
    .parte19 {translate: 2205px 150px;}
    .parte20 {translate: 2335px 150px;}
    .parte21 {translate: 2465px 150px;}
    .parte22 {translate: 2595px 150px;}
    .parte23 {translate: 2725px 150px;}

}

@keyframes rodando {
    from {
        translate: -130px 0px;
    }
    to {
        translate: 0px 0px;
    }
}

@import 'player';
@import 'cenas';
@import 'carrosel';