header {
    background-image: linear-gradient(180deg, #555555, #666666 30%, #666666 50%, #282828);

    .container {
        background-color: $bg-color-02;
        padding: 1.375rem 2rem;
    }

    nav {
        margin-left: auto;
    }

    .nav {
        display: flex;
        font-size: $fs-nav;

        &__item{
            width: fit-content;
            margin-right: 2.125rem;
        }
        &__link{
            color: $brand;
            text-decoration: none;

            &.active {
                color: $font-color-body-default;
                text-decoration: underline;
                text-underline-offset: .5rem;
            }
        }
    }

    .banner {
        margin: 0 auto;
        max-width: 984px;
    }
}