main {
    background-image: linear-gradient(180deg, #e6e6e6, #ffffff);

    .container {
        padding: 2.6rem 2rem;
        align-items: flex-start;
        background-color: $bg-color-01;

        .coluna {
            width: 100%;
        }

        h3, p {
            margin-bottom: .8rem;
            max-width: 40ch;
        }
    }
}