// Colors
$brand: #c30029;

$bg-color-01: #ffffff;
$bg-color-02: #fbfbfb;
$bg-color-03: #e8e8e8;
$bg-color-dark: #262626;

//Fonts

$ff-title: 'Myriad Pro', sans-serif;
$ff-body: Arial, sans-serif;

$font-color-title: #262626;
$font-color-body-light: #7f7f7f;
$font-color-body-default: #666666;
$font-color-body-dark: #333333;
$font-color-white: #ffffff;

$fs-big-title: 2.25rem; //36pt
$fs-default-title: 1.4rem; //23pt
$fs-nav: 1.125rem; //18pt
$fs-big-body: .9rem; //15pt
$fs-default-body: .875rem; //14pt
$fs-small-body: .75rem; //12pt