table {
	width: 100%;
	border: 1px solid;
	background: #F8F8FF;
	border-collapse: collapse;
}

table th,
table td {
	padding: 1rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
	vertical-align: bottom;
}

table th {
	background: #004452;
	color: #F8F8FF;
	font-weight: 700;
}

table tr td:first-child, table tr th:first-child {
	text-align: left;
}

table tbody tr td:first-child {
	font-weight: 300;
}

table tbody tr:nth-child(even) {
	background: rgb(216, 216, 216, 0.5);
}

table tfoot tr td {
	background: rgb(219, 219, 219);
	color: #333;
	font-weight: 600;
}

table tbody tr:hover {
	background: rgba(0, 68, 82, 0.3);
}