* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: #004452;
  padding: .5rem;
  text-align: center;
  color: #F8F8FF;
}

nav {
  float: left;
  width: 30%;
  display: block;
  text-align: center;
}

nav ul {
  list-style-type: none;
  width: 100%;
  padding: 1rem 2rem;
}

ul li {
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 1rem 0 0.5rem 0;
  margin: 3rem 0;
  border-bottom: 1px solid #004452;
  width: 100%;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #004452;
}

article {
  float: left;
  width: 70%;
  padding: 1rem;
  background: #CAFFEC;
  color: #004452;
}

section::after {
  background: #ccc;
  content: "";
  display: table;
  clear: both;
}

footer p {
  background-color: #004452;
  font-size: .75rem;
  font-style: italic;
  padding: 1.5rem 0;
  text-align: center;
  color: #F8F8FF;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }

  nav ul {
    padding: 0 2rem;
    margin-bottom: 2rem;
    position: relative;
    top: 0;
  }
  ul li {
    font-size: 1rem;
    padding: .5rem 0 .5rem 0;
    margin: 0 0 1rem 0;
    border-bottom: 1px solid #004452;
    width: 100%;
  }

  [type="submit"] {
    width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;
    left: 0%;
  }

  .pergunta-inline {
    display: block;
  }

  [type="radio"], [type="checkbox"], select {
    margin-left: 0;
  }

}