@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;400;700&display=swap');

:root {
    --color-primary: #f0bd55;
    --text-primary: #333;

    --color-neutral: #6e6b65;
    --color-disabled: #a8a7a4;
    --color-focus: #ce9524;
    --color-positive: #688b37;
    --color-negative: #bd201f;

    --bg-light-1: #fffaf0;
    --bg-light-2: #fffcfa;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mali', cursive;
}

body {
    background-color: var(--bg-light-1);
    font-size: 1rem;
    font-weight: 300;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: min(90%, 1200px);
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-light-2);
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    border-radius: 1rem;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}