// Colors
$brand: #a5cc73;
$brand-rgb: rgb(167, 205, 116);

$skyblue-1: #ced7e0;
$skyblue-2: #9ccddc;
$skyblue-3: #5591a9;
$skyblue-4: #054569;
$skyblue-5: #062c43;

$skyblue-1-rgb: rgb(206, 215, 224);
$skyblue-2-rgb: rgb(156, 205, 220);
$skyblue-3-rgb: rgb(85, 145, 169);
$skyblue-4-rgb: rgb(5, 69, 105);
$skyblue-5-rgb: rgb(6, 44, 67);

$bg-light-01: $skyblue-2;
$bg-light-02: $skyblue-1;
$bg-dark-01: $skyblue-5;
$bg-dark-02: $skyblue-4;

$ff-title: 'Inconsolata', monospace;
$ff-body: Arial, sans-serif;

$font-color-light-01: $skyblue-1;
$font-color-light-02: $skyblue-2;
$font-color-dark-01: $skyblue-5;
$font-color-dark-02: $skyblue-4;

$fs-default: 1rem;
$fs-small: $fs-default * 0.85;
$fs-title-1: $fs-default * 2.5;
$fs-title-2: $fs-default * 1.5;
$fs-title-3: $fs-default * 1.25;

$button-bg: $skyblue-4;
$button-border: $skyblue-5;
$button-font: $skyblue-1;