.servicos {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin: 6rem 0;

    &__text {
        text-align: center;
    }
    
    &__cards {
        display: flex;
        gap: 1rem;
        list-style: none;
    }
}