@import '../../styles/global.scss';

.ball {
    width: auto;
    height: 70%;
    aspect-ratio: 1 / 1;
    opacity: 0.2;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    top: 0;
    
    &--full {
        left: -30%;
        background-color: $color-primary;
    }

    &--outline {
        top: 10%;
        right: -10%;
        background-color: transparent;
        outline: 5px solid $color-primary;
    }
}