@import '../../styles/global.scss';

.button{
    cursor: pointer;
    border: 1px solid $green;
    border-radius: .5rem;
    background-color: $green-default;
    color: $white;
    padding: .7rem 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    box-shadow: 1px 1px 4px rgb(0, 0, 0, .2);
}