:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #1b1e20;
    --bs-primary: #fe5244;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #3B3B3B;
    --bs-primary-rgb: 254, 82, 68;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-body-color: #3B3B3B;
    --bs-body-bg: #F6F6F6;
    --bs-link-color: #4F4F4F;
    --bs-link-hover-color: #FE5244;
    --bs-highlight-bg: #fff3cd;
}

header, section, .card {
    margin: 2rem 0 3rem 0;
}

h1, h2, h3, input {
    margin-bottom: 1em;
}

.text-bg-primary {
    color: var(--bs-body-bg) !important;
    background-color: var(--bs-primary) !important;
}

.nav-link {
    color: var(--bs-primary);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--bs-danger);
}

.btn-primary {
    color: var(--bs-light);
    background: var(--bs-primary);
}

.btn-primary:hover,
.btn-primary:focus {
    background: var(--bs-danger);
}

textarea.form-control {
    width: 100% !important;
    margin-bottom: 1rem;
}

@media (max-width: 760px) {
    header, section, .card {
        margin: 1rem 0 1rem 0;
    }

    div.push-center {
        text-align: center;
    }

    .block-mobile,
    .block-mobile > li {
        width: 100%;
        text-align: center;
    }

    a.block-mobile {
        margin-bottom: 1rem;
    }
    #estado {
        margin-bottom: 1rem;
    }
}