body {
    background-color: $bg-dark-1;
}

header,
footer {
    width: 100%;
    background-color: $bg-dark-0;
}

@media (max-width: 1200px) {
    .container {
        padding-inline: $space-100;
    }
}

header {
    .container {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 750px) {
            flex-direction: column;
            padding: 0;
            padding-bottom: $space-100;
            text-align: center;
            gap: $space-050;

            & > * {
                width: 100%;
            }

            & > * > * {
                width: 100%;
            }
        }
    }

    .logo {
        width: 8%;
        margin: $space-100 0;
    }

    .button {
        margin: 0 $space-300 0 auto;
    }

    .primary-nav {
        display: flex;
        flex-wrap: wrap;
        gap: $space-200;

        @media (max-width: 750px) {
            gap: $space-100;
        }
    }

    .primary-nav__link {
        text-decoration: none;
        color: $text-light-fade;
        text-underline-offset: .5em;

        &--active {
            color: $text-light-def;
            text-decoration: underline;
        }

        &:hover {
            color: $text-light-def;
        }
    }
}

footer {
    p {
        text-align: $t-align-c;
        color: $text-light-fade;
        padding: $space-100;
    }
}

.featured {
    background-color: $bg-dark-2;
    padding-bottom: $space-200;

    p {
        max-width: 80ch;

    }
}

.mosaico {
    display: flex;
    flex-direction: row;
    gap: $space-100;
    margin-bottom: $space-200;

    @media (max-width: 600px) {
        flex-direction: column;
        height: auto;
    }

    &__coluna {
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: $space-100;

        @media (max-width: 600px) {
            flex-direction: row;
            width: 100%;
            height: auto;
        }
    }
    
    &__big {
        background-image: url("../images/pexels-mike-244206.jpg");
        display: block;
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        border-bottom: 1px solid $brand-red;
        filter: grayscale(0.4);

        @media (max-width: 600px) {
            height: 30vh;
        }
    }
    
    &__small {
        background-image: url("../images/pexels-mike-244206.jpg");
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        border-bottom: 1px solid $brand-red;
        filter: grayscale(0.4);

        &--1 {
            background-position: bottom 10% center;
        }
        
        &--2 {
            background-position: bottom 30% right 40%;
        }
        
        &--3 {
            background-position: bottom 55% right 70%;
        }
    }
    
}


.blocks {
    display: flex;
    flex-direction: row;
    gap: $space-100;
    align-items: center;

    @media (max-width: 750px) {
        flex-direction: column;
        height: auto;
    }

    &--textos {
        gap: $space-300;
        align-items: center;

        @media (max-width: 750px) {
            gap: $space-050
        }
    }

    &--details {
        background-color: $bg-dark-1;
        width: 100%;
    }

    &__item {
        flex-shrink: 1;
        overflow: hidden;
        width: 100%;
        margin-bottom: $space-200;
    }

    &__image img {
        width: 100%;
        height: auto;
        aspect-ratio: 2 / 1;
    }
}

.linha {
    display: block;
    width: 40%;
    height: 1px;
    background-color: $text-light-fade;
    margin: $space-100 0;
}