@import '../../styles/global.scss';

.listItem {
    width: 100%;
    aspect-ratio: 4 / 3;
    position: relative;
    padding: 2rem 2rem 0 3rem;
    box-sizing: border-box;

    &__icon {
        position: absolute;
        left: 0;
        top: 0;
        aspect-ratio: 2 / 3;
        width: 2rem;
        height: 3rem;
        border-right: 2px solid $color-dark-400;
        border-bottom: 2px solid $color-dark-400;
        padding: .3rem;
        box-sizing: border-box;
        text-align: center;

        img {
            width: 100%;
            mix-blend-mode: overlay;
        }
    }

    &__title {
        font-size: $fs-500;
        font-weight: 600;
        margin-bottom: 1rem;
    }
}