// Font Sizes
$fs-900: 9rem;
$fs-800: 3rem;
$fs-700: 2.5rem;
$fs-600: 2rem;
$fs-500: 1.5rem;
$fs-400: 1rem;
$fs-300: 0.75rem;

// Colors
$color-dark-400: #1A1A1A;
$color-dark-300: #595959;
$color-light: #ffffff;
$color-primary: #007963;