@import '../../styles/global.scss';

@mixin displayFlexRow($width: 100%) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: $width;
    justify-content: space-between;
}

.places {
    width: 100%;

    &__header {
        @include displayFlexRow();
        margin-bottom: 4rem;
    }

    &__title {
        font-size: 3.2rem;
        color: $green;

        span{
            color: $black;
        }
    }

    &__select{
        @include displayFlexRow($width: 24rem);
        border-bottom: 1px solid $black;
        align-items: center;
        padding: .4rem 1.5rem;

        h3 {
            color: $gray-300;
            font-size: 1.8rem;
            font-weight: 500;
        }

        select {
            border: 0 none;
            font-weight: 500;
            font-size: 1.8rem;
            color: $black-total;
            line-height: 2.1rem;
            background-color: transparent;
            padding: 0 .5rem;
        }
    }
}